$firefly: #0A1629;
$raven: #7D8592;
$dodger-blue: #3F8CFF;
$white: #FFFFFF;
$polar: #F4F9FD;
$mariner: #1F6DE0;
$geyser: #CED5E0;
$carnation: #F65160;
$carnation-open: rgba(246, 81, 96, 0.12);
$cadet-blue: #B2B8C2;
$java: #15C0E6;
$royal-blue: #3A81EB;
$moody-blue: #6D5DD3;
$bright-sun: #FDC748;
$caribbean-green: #00D097;
$dodger-blue-open: rgba(63, 140, 255, 0.1199);
$catskill-white: #E6EDF5;
$malachite: #0AC947;
$java-open: rgba(21, 192, 230, 0.1229);
$moody-blue-open: rgba(109, 93, 211, 0.1407);
$raven-light: rgba(125, 133, 146, 0.202);
$raven-open: rgba(125, 133, 146, 0.14);
$waterloo: #7D8594;
$electric-violet: #C418E6;
$electric-violet-open: rgba(196, 24, 230, 0.11);
$periwinkle-gray: #D8E0F0;
$biloba-flower: #DE92EB;
$white-ice: #E0F9F2;
$white-lilac: #E6EBF5;
$my-sin: #FFBD21;
$black: #000000;